 
.game_animate {
    width: 1146px;
    height: auto;
    margin: 180px 90px 100px 90px;
    position: absolute;
    padding: 60px 30px 60px 30px;
    align-items: center;
  }

#container {
    width: 1000px;
    height: 500px;
    position: relative;
    background: antiquewhite;
    margin: auto;
    border: 3px solid black;
    border-radius: 4px;
  }

  #startButton, #gameOverButton, #endButton{
    font-size: 17px;
    text-align: center;
    padding: 8px;
    color: rgb(193, 226, 226);
    background-color: rgb(45, 138, 125);
    border: solid 2px rgb(193, 226, 226);
    border-radius: 6px;
    transition-duration: 0.4s;
    width: 160px;
  }

  #divButton,#div1Button,#div2Button{
    margin: auto;
    position: relative;
    height: auto;
    width: 160px;
    border-radius: 6px;
  }

  #startButton:hover,#gameOverButton:hover,#endButton:hover{
    color: #000000;
    background-color: rgb(54, 184, 166);
  }

  .hide{
    visibility: hidden;
  }
  
  .end_game{
    width: 1000px;
    height: 500px;
    margin: auto;
    align-items: center;
    font-size: 200px;
    text-align: center;
  }

  #gameScore {
    font-size: 25px;
    left: 50px;
    float: left;
    font-weight: bold;
    position: relative;

  }
  #text{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
  }
  
  .color{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color:blueviolet;
    text-align: center;
    color: antiquewhite;
    font-size: 35px;
  }

  #animate2{
    right: 120px;
  }

  #animate3{
    right: 250px;
  }

  #animate4{
    right: 750px;
  }

  #animate5{
    right: 600px;
  }

  #animate6{
    right: 350px;
  }

  #animate7{
    right: 800px;
  }

  #animate8{
    right: 700px;
  }

  #animate9{
    right: 550px;
  }
  
  #animate10{
    right: 300px;
  }