/* עיצוב לגוף עמוד דף הבית */

body p{
    position: absolute;
    margin-top: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    right:220px;
    font-size: 30px;
    font-style:inherit;
  }

*{
  font-family:system-ui

 }