* {
  font-family: system-ui
}

.game_cards {
  width: 1146px;
  height: auto;
  margin: 260px 70px 100px 70px;
  position: absolute;
  padding: 60px 30px 60px 30px;
  border: 3px solid black;
  align-items: center;
}

.hide {
  display: none;
}

.game_cards img {
  width: 150px;
  height: 90px;
  border: 3px solid;
  border-color: rgb(7, 5, 5);
  margin: 15px;
  align-items: center;
}

.images_background {
  position: relative;
  float: right;
}

.div_img{
  position: absolute;
  float: right;
}

#div2 {
  right: 216px;
}

#div3 {
  right: 402px;
}

#div4 {
  right: 588px;
}

#div5 {
  right: 774px;
}

#div6 {
  right: 960px;
}

#div7 {
  top: 186px;
}

#div8 {
  top: 186px;
  right: 216px;
}

#div9 {
  top: 186px;
  right: 402px;
}

#div10 {
  top: 186px;
  right: 588px;
}

#div11 {
  top: 186px;
  right: 774px;
}

#div12 {
  top: 186px;
  right: 960px;
}

#div13 {
  top: 312px;
}

#div14 {
  top: 312px;
  right: 216px;
}

#div15 {
  top: 312px;
  right: 402px;
}

#div16 {
  top: 312px;
  right: 588px;
}

#div17 {
  top: 312px;
  right: 774px;
}

#div18 {
  top: 312px;
  right: 960px;
}