#div_score {
    width: 1146px;
    height: auto;
    margin: 260px 90px 100px 90px;
    position: absolute;
    padding: 60px 30px 60px 30px;
    border: 3px solid black;
    border-radius: 4px;
    align-items: center;
    display: flex;
}

#memoryRecords {
    flex: 1;
    text-align: center;
}

#animateRecords {
    flex: 1;
    text-align: center;
}

h2{
    color: rgb(45, 138, 125);
}
table {
    padding: 20px 20px;
    margin: 20px auto;
    text-align: center;
}

thead th {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgb(25, 99, 89);
    border-color: rgb(27, 117, 105);
    color: #FFF;
}

tr {
    background-color: #c4c4c4f6;
    border-bottom: 1px solid rgb(25, 99, 89);
    margin-bottom: 5px;
    text-align: center;
}

th,
td {
    font-weight: 400;
    padding: 20px;
    text-align: center;
    width: 33.3333%;
    font-size: 18px
}